.projects-container {
    height: 92vh;
    /* align-items: center; */
    /* justify-content: center; */
}

@media only screen and (max-width: 600px) {
    .rev-col {
        display: flex;
        flex-direction: column-reverse;
    }
}