.navbar {
  background-color: black;
  width: 100%;
  height: 8vh;
}

.navbar a {
  font-size: 1.5rem;
}

.nav-item>.active {
  border-bottom: 3px solid #565387;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}