@font-face {
    font-family: cairo-regular;
    src: url(./fonts/Cairo-Regular.ttf);
}

#root {
    margin: 0;
    padding: 0;
}

.App-Container {
    width: 100%;
    font-family: cairo-regular;
}

.content-wrapper {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
}

@media only screen and (max-width: 600px) {
    .content-wrapper {
        padding-right: 7%;
        padding-left: 7%;
    }
}